<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('bootstrapcss.ejs') %>
        <title>Edit Doubt</title>
</head>

<body>
    <%- include('header') %>
        <br>

        <div class="d-flex justify-content-center">
            <form action="/doubts/edit/<%= doubt._id %>" method="post" class="w-50 p-4 border border-secondary rounded">
                <legend>Edit Doubt</legend>
                <div class="form-group">
                    <label for="doubt-title">Title</label>
                    <input type="text" name="title" class="form-control" id="doubt-title" placeholder="Title"
                        value="<%= doubt.title %>" required />
                </div>
                <div class="form-group">
                    <label for="doubt-url">Url</label>
                    <input type="url" name="url" class="form-control" id="doubt-url"
                        placeholder="Add any url to related to your doubt..." value="<%= doubt.url %>" />
                </div>
                <div class="form-group">
                    <label for="doubt-summary">Doubt in Brief</label>
                    <textarea name="summary" class="form-control" id="doubt-summary"
                        placeholder="Doubt in Brief"> <%= doubt.summary %> </textarea>
                </div>
                <div class="form-group">
                    <label for="doubt-category">Category</label>
                    <input name="category" type="text" class="form-control" id="doubt-category" placeholder="Category"
                        value="<%= doubt.category %>" required>
                </div>
                <div class="text-right d-flex justify-content-center mt-2">
                    <button type="submit" class="btn btn-primary">Modify</button>
                </div>
            </form>

        </div>

</body>

</html>