<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('bootstrapcss') %> 
    <title>Home</title>
</head>
<body> 
  <!-- <h1>Logged in as:  </h1> -->
   
    <%- include('header'); %> 
    <br>
      <ul>

        <!-- Listing all the doubts --> 
        <% doubts.forEach((doubt) => { %> 
            <div class="card">
                <div class="card-header">
                <a href="/r/<%= doubt.category %>" target="_blank" rel="noopener noreferrer"><%= doubt.category %></a>
                </div>
                <div class="card-body">
                  <h6>Asked By: <%= doubt.author.username %> </h6>
                  <h5 class="card-title"><%= doubt.title %> </h5>
                  <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                  <a href="/doubts/<%= doubt._id %>" class="">View..</a>
                </div>
              </div>
              <br>
        <% }); %> 
      </ul>
  
</body>
</html>